//###################################################################
//                             BASE
//###################################################################
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}



//###################################################################
//                             CLASSES
//###################################################################
.relative {
    position: relative
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}
.fixed {
    position: fixed;
    top: 95px;
    right: 50px;
}


.primario {
    background:  #32BCC3 !important;
}
.secundario {
    background: #723881 !important;
}
.background {
    background: #d2fafb;
}
.negativo {
    background: #E53933;
}
.gray {
    background: #d6dfe2 !important;
}
.text-secundario {
    color: #191C1E;
}
.background-secundario {
    background: #191C1E;
}
.hover {
    cursor: pointer;
}