//###################################################################
//                             BASE
//###################################################################
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}



//###################################################################
//                             CLASSES
//###################################################################
.relative {
    position: relative
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}
.fixed {
    position: fixed;
    top: 95px;
    right: 50px;
}